@import 'colors';

.vt-gradient-btn {
	border: 3px solid $purple-dark;
	border-image: linear-gradient(45deg, $purple-dark 0%, $purple-light 100%);
	border-image-slice: 1 1 0 0;
	background-color: transparent;
	cursor: pointer;
	margin: 2rem;
	position: relative;
	text-transform: uppercase;
	padding: .8rem 1rem;
	transform-origin: left bottom;
	z-index: 1;
	font-size: 1.13em;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	box-shadow: -0.5rem, 0.5rem, $slate-color;

	&:before,
	&:after {
		border: 3px solid $purple-dark;
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
	}

	// SIDE
	&:before {
		border-image: linear-gradient(45deg, $purple-dark 0%, adjust-hue($purple-dark, 10%) 100%);
		border-image-slice: 1 1 0 1;
		left: -0.94rem;
		top: .175rem;
		width: .33rem;
		height: 100%;
		transform: skewY(-45deg);
	}

	// BOTTOM
	&:after {
		border-image: linear-gradient(45deg, $purple-dark 0%, $purple-light 100%);
    border-image-slice: 1 1 1 0;
    bottom: -0.95rem;
		right: 0.15em;
    width: 100%;
    height: .31em;
    transform: skewX(-45deg);
	}

	&:hover {
		background-color: white;
    background-size: 90%;
    transform: translate(0.5em,-0.5em);
    box-shadow: -1em 1em .15em transparentize($slate-color,.9);

		&:before {
			background-image: linear-gradient(45deg, $purple-dark 0%, adjust-hue($purple-dark,10%) 100%);
			height: calc(100% - .25em);
			border-image-slice: 1;
		}

		&:after {
			background-image: linear-gradient(45deg, $purple-dark 0%, $purple-light 100%);
			width: calc(100% - .275em);
			border-image-slice: 1;
		}

	}
}

.vt-gradient-btn.filled {
	border-image-slice: 1;
	background-image: linear-gradient(45deg, $purple-dark 0%, $purple-light 100%);
	color: white;

	&:before {
		border-image-slice: 1;
		background-image: linear-gradient(45deg, $purple-dark 0%, adjust-hue($purple-dark,10%) 100%);
		left: -1.24rem;
		top: .15em;
	}

	&:after {
		border-image-slice: 1;
		background-image: linear-gradient(45deg, $purple-dark 0%, $purple-light 100%);
		bottom: -1.10em;
		right: .16em;
	}

	&:hover {
		background: white;
		border-image: linear-gradient(45deg, $purple-dark 0%, $purple-light 100%);
		border-image-slice: 1;
		color: $slate-color;

		&:before {
			height: 100%;
		}
		&:after {
			width: 100%;
		}
	}
}
