.vt-form-text {
	background-color: $pale-yellow;
	border-radius: 2px;
	padding: 1.4rem 2rem 1.6rem;
	width: 100%;
	position: relative;
	margin: 3rem 2rem 0 2rem;

	&:after {
		box-sizing: inherit;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		height: 2px;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		background-position: 0% 0%;
		background: linear-gradient(to right, $purple-dark, $purple-light, $purple-dark);
		background-size: 500% auto;
		animation: gradient 3s linear infinite;
	}

	input, textarea{
		background: transparent;
		border-style: none;
		color: $maroon;
		font-size: 1.6rem;
		line-height: 2rem;
		width: 100%;
		outline: none;
	}

	textarea {
		font-family: "Amiko", sans-serif;
	}

	input:focus ~ .vt-floating-label,
	input.has-content ~ .vt-floating-label,
	textarea:focus ~ .vt-floating-label,
	textarea.has-content ~.vt-floating-label {

		font-size: 1.4rem;
		transform: translate3d(0, -175%, 0);
		opacity: 1;
		margin-left: 0;

	}

}

@keyframes gradient {
	0%{background-position:0 0}
	100%{background-position:100% 0}
}

.vt-floating-label {
	color: $maroon;
	cursor: text;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 1.4rem;
	margin-left: 2rem;
	padding: 0.2rem;
	transition: all 0.2s ease;
	opacity: 0.5;
	font-size: 16px;
	z-index: 1000;
}
