body {
	font-family: "amiko", sans-serif;
	font-weight: 400;
}

p {
	font-size: 1.6rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: "signika", sans-serif;
}

h1 {
	font-size: 3rem;
}

h2 {
 font-size: 2.72rem;
}

h3 {
	font-size: 2.44rem;
}

h4 {
	font-size: 2.16rem;
}

h5 {
	font-size: 1.88rem;
}

h6 {
	font-size: 1.6rem;
}
