@import 'buttons';
@import 'colors';
@import 'forms';
@import 'typography';
@import 'whitespace';

// A few base-styles / resets
html {
	box-sizing: border-box;
	font-size: 10px;
	color: $black;
}

*, *:before, *:after {
	box-sizing: inherit;
}

button {
	border: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
