@import 'buttons';
@import 'colors';
@import 'forms';
@import 'typography';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-size: 10px;
}

button {
	border: none;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}
